<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE Dersleri</title>
    <script src="//unpkg.com/vue@3"></script>
  </head>
  <body>
    <projeBlogu id="app">
      <h1>VU Dersleri</h1>
      <p v-show="iller.length > 0">
        <b>İL SEÇİNİZ:</b>
        <select v-model="seciliIL" @change="IlSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="il in iller" :value="il.id">{{il.il_adi}}</option>
        </select>
      </p>

      <p v-show="ilceler.length > 0">
        <b>İLÇE SEÇİNİZ:</b>
        <select v-model="seciliILCE" @change="IlceSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="ilce in ilceler" :value="ilce.id">
            {{ilce.ilce_adi}}
          </option>
        </select>
      </p>

      <p v-show="semtler.length > 0">
        <b>SEMT SEÇİNİZ:</b>
        <select v-model="seciliSEMT" @change="SemtSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="semt in semtler" :value="semt.id">
            {{semt.semt_adi}}
          </option>
        </select>
      </p>

      <p v-show="mahalleler.length > 0">
        <b>MAHALLE SEÇİNİZ:</b>
        <select v-model="seciliMAHALLE" @change="MahalleSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="mahalle in mahalleler" :value="mahalle.id">
            {{mahalle.mahalle_adi}}
          </option>
        </select>
      </p>
      İL: {{seciliIL}}<br />
      İLÇE: {{seciliILCE}}<br />
      SEMT: {{seciliSEMT}}<br />
      MAHALLE: {{seciliMAHALLE}}<br />
    </projeBlogu>
  </body>
</html>

<script>
  Vue.createApp({
    data() {
      return {
        iller: [],
        ilceler: [],
        semtler: [],
        mahalleler: [],
        seciliIL: 0,
        seciliILCE: 0,
        seciliSEMT: 0,
        seciliMAHALLE: 0,
      };
    },
    methods: {
      IlSecildi() {
        this.seciliILCE = 0;
        this.getDataIlceler();
      },

      IlceSecildi() {
        this.seciliSEMT = 0;
        this.getDataSemtler();
      },

      SemtSecildi() {
        this.seciliMAHALLE = 0;
        this.getDataMahalleler();
      },

      MahalleSecildi() {
        // this.seciliSEMT = 0;
        // this.getDataMahalleler();
      },

      getDataMahalleler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.mahalleler&id=" +
            this.seciliSEMT
        )
          .then((response) => response.json())
          .then((data) => (this.mahalleler = data)); // DB'den gelen veriyi alalım...
      },

      getDataSemtler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.semtler&id=" +
            this.seciliILCE
        )
          .then((response) => response.json())
          .then((data) => (this.semtler = data)); // DB'den gelen veriyi alalım...
      },

      getDataIlceler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.ilceler&id=" +
            this.seciliIL
        )
          .then((response) => response.json())
          .then((data) => (this.ilceler = data)); // DB'den gelen veriyi alalım...
      },

      getDataIller() {
        fetch("http://localhost/vue_dersleri/api.php?method=get.iller")
          .then((response) => response.json())
          .then((data) => (this.iller = data)); // DB'den gelen veriyi alalım...
      },
    },

    mounted() {
      this.getDataIller(); // İlleri getir...
      // this.IlSecildi();
    },
  }).mount("#app");
</script>
