<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE Dersleri</title>
    <script src="//unpkg.com/vue@3"></script>
  </head>
  <body>
    <projeBlogu id="app">
      <h1>VU Dersleri</h1>
      <p v-show="iller.length > 0">
        <b>İL SEÇİNİZ:</b>
        <select v-model="secili_IL" @change="IlSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="il in iller" :value="il.id" :key="il.id">
            {{il.il_adi}}
          </option>
        </select>
      </p>

      <p v-show="ilceler.length > 0">
        <b>İLÇE SEÇİNİZ:</b>
        <select v-model="secili_Ilce" @change="IlceSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="ilce in ilceler" :value="ilce.id" :key="ilce.id">
            {{ilce.ilce_adi}}
          </option>
        </select>
      </p>

      <p v-show="semtler.length > 0">
        <b>SEMT SEÇİNİZ:</b>
        <select v-model="secili_Semt" @change="SemtSecildi">
          <option value="0">** Seçiniz **</option>
          <option v-for="semt in semtler" :value="semt.id" :key="semt.id">
            {{semt.semt_adi}}
          </option>
        </select>
      </p>

      <p v-show="mahalleler.length > 0">
        <b>MAHALLE SEÇİNİZ:</b>
        <select v-model="secili_MAHALLE" @change="MahalleSecildi">
          <option value="0">** Seçiniz **</option>
          <option
            v-for="mahalle in mahalleler"
            :value="mahalle.id"
            :key="mahalle.id"
          >
            {{mahalle.mahalle_adi}}
          </option>
        </select>
      </p>
    </projeBlogu>
  </body>
</html>

<script>
  Vue.createApp({
    data() {
      return {
        iller: [],
        ilceler: [],
        semtler: [],
        mahalleler: [],
        secili_IL: 0,
        secili_Ilce: 0,
        secili_Semt: 0,
        secili_MAHALLE: 0,
      };
    },
    methods: {
      IlSecildi() {
        this.secili_Ilce = 0;
        this.getDataIlceler();
      },

      IlceSecildi() {
        this.secili_Semt = 0;
        this.getDataSemtler();
      },

      SemtSecildi() {
        this.secili_MAHALLE = 0;
        this.getDataMahalleler();
      },

      MahalleSecildi() {
        //
      },

      getDataMahalleler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.mahalleler&id=" +
            this.secili_Semt
        )
          .then((response) => response.json())
          .then((data) => (this.mahalleler = data)); // DB'den gelen veriyi alalım...
      },

      getDataSemtler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.semtler&id=" +
            this.secili_Ilce
        )
          .then((response) => response.json())
          .then((data) => (this.semtler = data)); // DB'den gelen veriyi alalım...
      },

      getDataIlceler() {
        fetch(
          "http://localhost/vue_dersleri/api.php?method=get.ilceler&id=" +
            this.secili_IL
        )
          .then((response) => response.json())
          .then((data) => (this.ilceler = data)); // DB'den gelen veriyi alalım...
      },

      getDataIller() {
        fetch("http://localhost/vue_dersleri/api.php?method=get.iller")
          .then((response) => response.json())
          .then((data) => (this.iller = data)); // DB'den gelen veriyi alalım...
      },
    },

    mounted() {
      this.getDataIller(); // İlleri getir...
      // this.IlSecildi();
    },
  }).mount("#app");
</script>
